<div class="layout">
  <div class="layout__content-left">
    <div class="buttons">
      <button
        (click)="getTrails()"
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        (click)="clearTrails()"
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div *ngIf="isLoading">Loading</div>
    <div class="trail-cards">
      <div *ngFor="let trail of trailsRaw">
        {{ trail.name }}
      </div>
    </div>
  </div>
  <div class="layout__content-right">
    <div class="layout__content-right__inner-wrapper">
      <div class="map-container">
        <div class="map-container__inner-wrapper">
          <app-arc-gis-map (mapReady)="onMapReady()"></app-arc-gis-map>
        </div>
      </div>
    </div>
  </div>
</div>
